@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn--green-outline {
  font-size: 1.4rem;
  padding: 15px 0;
  max-width: 270px;
  @include defaultButton($green-color, $green-color, $green-color);
}

.btn--white-outline {
  font-size: 1rem;
  padding: 10px 0;
  max-width: 200px;
  @include defaultButton(white, white, white);
}
