@use "../abstracts/abstracts" as *;

.hamburger-icon {
  height: 30px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;

  &__line {
    height: 2px;
    width: 100%;
    background-color: black;
  }
}

.hamburger-icon__top-line--animation {
  animation: top-line 0.3s 0.3s forwards;
}
.hamburger-icon__middle-line--animation {
  animation: middle-line 0.3s forwards;
}
.hamburger-icon__bottom-line--animation {
  animation: bottom-line 0.3s 0.3s forwards;
}

.hamburger-icon__top-line--animation-reverse {
  animation: top-line-reverse 0.3s forwards;
}
.hamburger-icon__middle-line--animation-reverse {
  animation: middle-line-reverse 0.3s 0.3s forwards;
}
.hamburger-icon__bottom-line--animation-reverse {
  animation: bottom-line-reverse 0.3s forwards;
}

@keyframes top-line {
  0% {
    background-color: black;
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    background-color: white;
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes middle-line {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(8px);
  }
}

@keyframes bottom-line {
  0% {
    background-color: black;
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    background-color: white;
    transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes top-line-reverse {
  0% {
    background-color: white;
    transform: translateY(8px) rotate(45deg);
  }

  50% {
    transform: translateY(8px) rotate(0deg);
  }

  100% {
    background-color: black;
    transform: translateY(0);
  }
}

@keyframes middle-line-reverse {
  0% {
    opacity: 0;
    transform: translateX(8px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottom-line-reverse {
  0% {
    background-color: white;
    transform: translateY(-8px) rotate(-45deg);
  }

  50% {
    transform: translateY(-8px) rotate(0deg);
  }

  100% {
    background-color: black;
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
  @keyframes top-line {
    0% {
      background-color: black;
      transform: translateY(0);
    }

    50% {
      transform: translateY(8px);
    }

    100% {
      background-color: $green-color;
      transform: translateY(8px) rotate(45deg);
    }
  }

  @keyframes bottom-line {
    0% {
      background-color: black;
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }

    100% {
      background-color: $green-color;
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@media (min-width: 1024px) {
  .hamburger-icon {
    display: none;
  }
}
