@use "./abstracts/abstracts" as *;
@use "./components/components";
@use "./base/base";
@use "./layouts/layouts";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Modifiers
.text--poppins {
  font-family: $poppins-font;
}

.text--xlarge {
  font-size: 2.5rem;
}

@media (min-width: 768) {
  .text--xlarge {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .text--xlarge {
    font-size: 4.3rem;
  }
}

.text--small {
  font-size: 1rem;
}

.text--medium {
  font-size: 2.2rem;
  line-height: 45px;
  font-weight: 600;
}

@media (min-width: 640px) {
  .text--medium {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .text--medium {
    font-size: 3.2rem;
    line-height: 55px;
  }
}

.image--turn-negative-180 {
  transform-origin: center;
  opacity: 0;
  animation: rotate-negative-180-deg 1s forwards;
}

.wellbeing-image--floating {
  animation: floating 7s forwards infinite linear;
}

.wellbeing-image--go-up {
  animation: go-up 1s forwards ease-out;
}

.wellbeing-image--slide-in {
  animation: slide-in-from-left 1s forwards;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotate-negative-180-deg {
  0% {
    opacity: 0;
    transform: rotateY(-108deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes rotate-positive-180-deg {
  0% {
    opacity: 0;
    transform: rotateY(108deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes blur-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes go-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

.hero {
  padding-top: 100px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  animation: blur-in 1s forwards ease-in-out;

  &__heading {
    text-align: center;
  }

  &__summary {
    text-align: center;
  }
}

.hero-images {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__image {
    width: 100%;

    & img {
      object-fit: cover;
      height: 320px;
      border-radius: 20px;
    }
  }
}

@media (min-width: 640px) {
  .hero-introduction {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    flex-direction: row;

    &__image img {
      border-radius: 30px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    padding-top: 120px;
  }

  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    gap: 50px;

    &__image {
      transform-style: preserve-3d;
      perspective: 1000px;

      & img {
        border-radius: 15px;
        height: 400px;
        opacity: 0;
      }

      &:nth-of-type(1) img {
        transform-origin: right;
        animation: rotate-negative-180-deg 1s 0.5s forwards ease-in-out;
      }

      &:nth-of-type(2) img {
        transform-origin: left;
        animation: rotate-positive-180-deg 1s 0.5s forwards ease-in-out;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 170px;
  }

  .hero-introduction {
    max-width: 1080px;
  }
}

@media (min-width: 1500px) {
  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    gap: 70px;
  }
}

// Wellbeing section
.wellbeing {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.wellbeing-wrapper {
  background-color: #f4f4f4;
  padding: 30px 10px;
  border-radius: 10px;
}

.wellbeing-subheading {
  text-align: center;
}

.wellbeing-details {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 530px;
  margin-top: 30px;
  gap: 30px;

  &__text {
    text-align: center;
  }
}

.wellbeing-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 228px;

  &__icon {
    border-radius: 5px;
    background-color: $green-color;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: center;
  }
}

.wellbeing:nth-of-type(4)
  .wellbeing-details-container
  .wellbeing-details-container__icon {
  background-color: $peach-color;
}

.wellbeing-image {
  display: none;
}

@media (min-width: 640px) {
  .wellbeing-wrapper {
    padding: 60px 10px;
  }
  .wellbeing-details {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .wellbeing {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  .wellbeing-info {
    max-width: 600px;
    margin-left: 8%;
  }

  .wellbeing-wrapper {
    position: relative;
    padding: 100px 10px;
  }

  .wellbeing-subheading {
    text-align: start;
  }

  .wellbeing-details {
    margin: 30px 0 0 0;
    gap: 60px;
    width: 100%;
    max-width: none;
  }

  .wellbeing-details-container {
    align-items: flex-start;
    max-width: 250px;

    &__text {
      text-align: start;
    }
  }

  .wellbeing-image {
    display: block;
    position: absolute;
    right: 8%;
    bottom: 0;
    width: fit-content;
  }

  .wellbeing:nth-of-type(4) .wellbeing-wrapper .wellbeing-image {
    left: 8%;
    bottom: 80px;
    opacity: 0;
    transform: translateX(-50px);
  }

  .wellbeing:nth-of-type(4) .wellbeing-wrapper {
    display: flex;
    justify-content: flex-end;

    & .wellbeing-info {
      margin: 0 8% 0 0;
    }
  }
}

// Produce
.produce {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
}

.produce-image img {
  object-fit: cover;
  border-radius: 10px;
}

.produce-subheading {
  text-align: center;
  margin-top: 10px;
}

.produce-summary {
  text-align: center;
  margin-top: 20px;
}

.produce-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;

    & span {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .produce {
    display: flex;
    gap: 20px;
    padding-top: 80px;
  }

  .produce-subheading {
    text-align: start;
  }

  .produce-summary {
    text-align: start;
  }

  .produce-image {
    min-width: 350px;
    width: 100%;

    & img {
      height: 100%;
    }
  }

  .produce-list {
    margin-top: 50px;
    gap: 35px;
  }

  .produce-list .produce-list__text span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .produce {
    gap: 40px;
    align-items: center;
  }

  .produce-image {
    min-width: 400px;
    height: 530px;

    & img {
      opacity: 0;
      transform: rotateY(-108deg);
    }
  }
}

@media (min-width: 1200px) {
  .produce-image {
    min-width: 500px;
    height: 550px;
  }

  .produce-list {
    margin-top: 55px;
  }
}

@media (min-width: 1500px) {
  .produce-image {
    min-width: 600px;
  }
}

// Join
.join {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 40px;
}

.join-details {
  background-image: url("/assets/images/join-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
  color: white;
  min-height: 330px;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000029;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 50px 20px 0 20px;
  }

  &__icon {
    border: 2px solid white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  &__summary {
    text-align: center;
    display: none;
    max-width: 670px;
  }
}

.join-pros {
  width: 83%;
  margin: 0 auto;
  background-color: $light-peach-color;
  position: relative;
  bottom: 50px;
  padding: 70px 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}

.join-pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__text {
    font-size: 1.1rem;
    text-align: center;
  }
}

.join-pro__icon {
  border: 2px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

@media (min-width: 510px) {
  .join-pros {
    bottom: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .join-details {
    height: 550px;

    &__overlay {
      padding-top: 100px;
    }

    &__subheading {
      font-size: 2.6rem;
    }
  }

  .join-details__icon {
    height: 70px;
    width: 70px;
  }

  .join-pros {
    bottom: 140px;
  }
}

@media (min-width: 768px) {
  .join-details__icon {
    height: 80px;
    width: 80px;
  }
  .join {
    padding-top: 80px;
  }

  .join-details {
    height: 670px;
  }

  .join-details__overlay {
    gap: 30px;
  }

  .join-details__summary {
    display: inline;
  }

  .join-details-join-now-btn {
    font-size: 1.3rem;
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .join-pros {
    bottom: 180px;
    padding: 80px 40px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .join-pros {
    padding: 110px 50px;
    width: 90%;
  }

  .join-pro__icon {
    height: 80px;
    width: 80px;
  }

  .join-pro__text {
    font-size: 1.3rem;
  }
}

@media (min-width: 1500px) {
  .join-pro__icon {
    height: 90px;
    width: 90px;
  }

  .join-pro__text {
    font-size: 1.4rem;
  }
}
