@use "./abstracts/abstracts" as *;
@use "./components/components";
@use "./base/base";
@use "./layouts/layouts";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Modifiers
.text--poppins {
  font-family: $poppins-font;
}

.text--xlarge {
  font-size: 2.5rem;
}

@media (min-width: 768) {
  .text--xlarge {
    font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .text--xlarge {
    font-size: 4.3rem;
  }
}

.text--small {
  font-size: 1rem;
}

.text--medium {
  font-size: 2.2rem;
  line-height: 45px;
  font-weight: 600;
}

@media (min-width: 640px) {
  .text--medium {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .text--medium {
    font-size: 3.2rem;
    line-height: 55px;
  }
}

.hero {
  padding-top: 100px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;

  &__heading {
    text-align: center;
  }

  &__summary {
    text-align: center;
  }
}

.hero-images {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  &__image {
    width: 100%;

    & img {
      object-fit: cover;
      height: 320px;
      border-radius: 20px;
    }
  }
}

@media (min-width: 640px) {
  .hero-introduction {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    flex-direction: row;

    &__image img {
      border-radius: 30px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    padding-top: 120px;
  }
  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    gap: 50px;

    &__image img {
      border-radius: 15px;
      height: 400px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 170px;
  }

  .hero-introduction {
    max-width: 1080px;
  }
}

@media (min-width: 1500px) {
  .hero {
    padding-top: 200px;
  }
  .hero-introduction {
    max-width: none;
  }

  .hero-images {
    gap: 70px;
  }
}

// Wellbeing section
.wellbeing {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.wellbeing-wrapper {
  background-color: #f4f4f4;
  padding: 30px 10px;
  border-radius: 10px;
}

.wellbeing-subheading {
  text-align: center;
}

.wellbeing-details {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 530px;
  margin-top: 30px;
  gap: 30px;

  &__text {
    text-align: center;
  }
}

.wellbeing-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 228px;

  &__icon {
    border-radius: 5px;
    background-color: $green-color;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: center;
  }
}

.wellbeing:nth-of-type(4)
  .wellbeing-details-container
  .wellbeing-details-container__icon {
  background-color: $peach-color;
}

.wellbeing-image {
  display: none;
}

@media (min-width: 640px) {
  .wellbeing-wrapper {
    padding: 60px 10px;
  }
  .wellbeing-details {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .wellbeing {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  .wellbeing-info {
    max-width: 600px;
    margin-left: 8%;
  }

  .wellbeing-wrapper {
    position: relative;
  }

  .wellbeing-subheading {
    text-align: start;
  }

  .wellbeing-details {
    margin: 30px 0 0 0;
    gap: 60px;
    width: 100%;
    max-width: none;
  }

  .wellbeing-details-container {
    align-items: flex-start;
    max-width: 250px;

    &__text {
      text-align: start;
    }
  }

  .wellbeing-image {
    display: block;
    position: absolute;
    right: 8%;
    bottom: 0;
    width: fit-content;
  }

  .wellbeing:nth-of-type(4) .wellbeing-wrapper .wellbeing-image {
    left: 8%;
    bottom: 50px;
  }

  .wellbeing:nth-of-type(4) .wellbeing-wrapper {
    display: flex;
    justify-content: flex-end;

    & .wellbeing-info {
      margin: 0 8% 0 0;
    }
  }

  .wellbeing-image--infinite {
    animation: wellbeing-image 7s forwards infinite linear;
  }

  @keyframes wellbeing-image {
    0% {
      transform: translateY(-50px);
    }

    50% {
      transform: translateY(-30px);
    }

    100% {
      transform: translateY(-50px);
    }
  }

  .wellbeing-image-start {
    animation: wellbeing-image-start 1s forwards ease-out;
  }

  @keyframes wellbeing-image-start {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-50px);
    }
  }
}

// Produce
.produce {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
}

.produce-image img {
  object-fit: cover;
  border-radius: 10px;
}

.produce-subheading {
  text-align: center;
  margin-top: 10px;
}

.produce-summary {
  text-align: center;
  margin-top: 20px;
}

.produce-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;

    & span {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .produce {
    display: flex;
    gap: 20px;
    padding-top: 80px;
  }

  .produce-subheading {
    text-align: start;
  }

  .produce-summary {
    text-align: start;
  }

  .produce-image {
    min-width: 350px;
    width: 100%;

    & img {
      height: 100%;
    }
  }

  .produce-list {
    margin-top: 50px;
    gap: 35px;
  }

  .produce-list .produce-list__text span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .produce {
    gap: 40px;
    align-items: center;
  }

  .produce-image {
    min-width: 400px;
    height: 530px;
  }
}

@media (min-width: 1200px) {
  .produce-image {
    min-width: 500px;
    height: 550px;
  }

  .produce-list {
    margin-top: 55px;
  }
}

@media (min-width: 1500px) {
  .produce-image {
    min-width: 600px;
  }
}
